
/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    {
        padding: 5%;
        margin: 0%;
    }

    .site-main .site-banner .container{
      padding-left: 14%;
    }

    .header_area .main-menu .navbar .image{
      position: fixed;
      right: 80%;
      top:2%;
    }
    .site-main .site-banner .site-title h3{
        font-size: 26px;
        padding: 1%;
        padding-top: 60%;
        padding-left: 44%;
        margin: 0;
    }

    .site-main .site-banner .site-title h3::after{
        content: " ";
        height: 2px;
        width: 2vw;
        background: blacks;
        display: inline-block;
        margin-left: 2%;
        transform: translateY(-10px);
    }
    .site-main .site-banner .site-title h3::before{
        content: " ";
        height: 2px;
        width: 2vw;
        background: black;
        display: inline-block;
        margin-right: 2%;
        transform: translateY(-10px);
    }



    .site-main .site-banner .site-title h1{
        text-align: right;
        font-size: 48px;
        padding-top: 5%;
        padding-left: 40%;

    }
    .site-main .site-banner .banner{
      margin: 0%;
      width: 135%;
      padding-left: 38%;
    }




    .gfg .image{
      width: 50%;
    }
/* about*/


.site-main .about-area{
    padding: 0%;
}

.site-main .about-area .row{
    padding-left: 28%;

}
.site-main .about-area .row .about-image{
  width: 85%;
  position: absolute;
  right: 35%;
  top: 20%;
}


.site-main .about-area .about-title h2 > span{
    display: block;
    letter-spacing: 18px;
    padding-left: 25%;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}
























}


/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }

    .site-main .brand-area .experience-area .bg-panel{
        margin-left: 30%;
        width: 80%;
    }

    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }

    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }

    .site-main .about-area .about-title p{
        padding: 0%;
        margin: 0%;
    }

}



/* if the viewport is equal to 1910px or less than that */
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
        align-items: center;
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }


}
